.gradient-top-left {
  position: fixed;
  top: 0;
  left: 0;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 20%, transparent 50%);
  pointer-events: none;
  z-index: 20;
}

.gradient-top-right {
  position: absolute;
  top: -150px;
  right: -150px;
  width: 1000px;
  height: 1000px;
  background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.05) 40%, transparent 80%);
  pointer-events: none;
  z-index: 20;
}