.gradient-top-left {
  position: absolute;
  top: -150px;
  left: -150px;
  width: 1000px;
  height: 1000px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05) 40%, transparent 80%);
  pointer-events: none;
  z-index: 20;
}

.gradient-top-right {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle at top right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 3%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0.45) 15%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.02) 60%, transparent 80%);
  pointer-events: none;
  z-index: 20;
}

.gradient-conical {
  position: absolute;
  top: 200px;
  right: 200px;
  width: 500px;
  height: 500px;
  background: conic-gradient(from 0deg at top right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 3%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0.45) 15%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.02) 60%, transparent 80%, transparent 100%);
  pointer-events: none;
  z-index: 20;
}

.elliptical-gradient-1 {
  position: absolute;
  transform: rotate(180deg);
  top: -520px;
  left: -350px;
  width: 1000px;
  height: 800px; /* Half the width to create elliptical shape */
  border-radius: 50%; /* Makes it elliptical */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 3%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0.45) 15%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.02) 60%, transparent 80%);
  pointer-events: none;
  z-index: 20;
}

.elliptical-gradient-2 {
  position: absolute;
  top: -350px;
  left: -350px;
  width: 800px;
  height: 200px; /* Half the width to create elliptical shape */
  border-radius: 50%; /* Makes it elliptical */
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 3%, rgba(255, 255, 255, 0.7) 8%, rgba(255, 255, 255, 0.45) 15%, rgba(255, 255, 255, 0.25) 25%, rgba(255, 255, 255, 0.1) 40%, rgba(255, 255, 255, 0.02) 60%, transparent 80%);
  pointer-events: none;
  z-index: 30;
  transform: rotate(90deg); /* Adding a slight rotation to the second ellipse */
}